{% extends 'mascindye.html.twig' %}

{% block title %}
	{{produit.nom}}
{% endblock %}

{% block body %}
	<main>
		<form action="{{path("panier_add", {id: produit.id})}}" method="post">
			<div class="about">
				<div class="trait"></div>
				<div class="row row-cols-1 row-cols-sm-2  mx-auto">
					<div class="col justify-content-center g-4 p-4 ">
						<div class="card shadow p-3 mb-5 bg-body p-4 ">
							<a href="">
								<img src="{{app_cdn}}{{produit.urlImage}}" class="card-img-top" alt="...">
							</a>
							<div class="card-body ">
								<h4 class="desc fs-5">Description</h4>
								<p class="card-text p-0">{{produit.description}}</p>
							</div>
						</div>
					</div>
					<div class="col justify-content-center g-4 p-4 ">
						<div class="card shadow p-3 mb-5 bg-body rounded p-4">
							<div class="card-body ">
								<h5 class="card-title fs-4">{{produit.nom}}</h5>
								<p class="card-text p-0 m-0 fw-bold">{{produit.category}}
								</p>
								<p class="card-text p-1 text-primary fw-bold">{{produit.prix}}€
								</p>
								<label for="taille-select" class="text-uppercase m-2 ">taille</label>

								<select name="taille" id="taille-select">
									<option value="">--Choisissez une taille--</option>
									{% for stock in produit.stocks %}
										<option value="{{stock.taille.id}}">{{stock.taille.taille}}</option>
									{% endfor %}
								</select>

								{% if is_granted("ROLE_USER") %}
									<p class="mt-4">
										<input type="submit" value="Ajouter" class="btn btn-success btn-sm fs-7">
									</p>
								{% else %}
									<p class="mt-4">
										<a href="{{ path('app_login') }}" class="btn btn-success btn-sm fs-7">
											<i class="fa fa-shopping-cart" aria-hidden="true"></i>
										</a>
									</p>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="row row-cols-1 row-cols-sm-2  mx-auto">
			<div class="col justify-content-center g-4 p-4 ">
				<div class="card shadow p-3 mb-5 bg-body rounded p-4">
					<div class="card-body ">

						{% set sommeCommentaire = 0 %}
						{% set moyenneCommentaire = 0 %}
						{% if produit.commentaires | length > 0 %}

							{% for commentaire  in produit.commentaires %}
								{% set sommeCommentaire = sommeCommentaire + commentaire.note %}
							{% endfor %}
							{% set moyenneCommentaire = sommeCommentaire /(produit.commentaires | length) %}
						{% endif %}
						<div>
							<h5 class="text-uppercase fs-5 py-2">
								Avis clients
								
							</h5>
							{% if produit.commentaires | length > 0 %}
								<h5 class="text-primary bg-transparent py-2 fs-6">Note moyenne:
									{{moyenneCommentaire}}/5 basée sur
									{{(produit.commentaires | length)}}
									commentaires
								</h5>
							{% else %}
								<h5 class="text-primary bg-transparent py-2 fs-6">Aucun commentaire
								</h5>
							{% endif %}

						</div>

						{% for commentaire  in produit.commentaires %}
							<p class="card-text p-0 m-0 text-uppercase{# fw-bold #}">
								<i class="fa-solid fa-circle-user text-warning"></i>
								{{ commentaire.user.pseudo}}</p>
							<p class="card-text p-0 m-0 fw-bold">
								<span>Note:
									{{commentaire.note}}/5</span>
								{{commentaire.titre}}</p>
							<p class="card-text p-0 m-0 ">commenté
								{{ commentaire.createdAt | ago}}
							</p>
						</p>
						<p class="card-text p-1">{{commentaire.contenu}}
						</p>

					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="mx-4 col-6">
		{% if is_granted("ROLE_USER") %}
			<h2>Ajout d'un commentaire</h2>
			{{ form(form) }}{% endif %}
		</div>
	</main>
{% endblock %}
