{% extends 'mascindye.html.twig' %}
{# {% extends 'base.html.twig' %} #}

{% block title %}Hello PageController!
{% endblock %}

{% block body %}
	<main>
		<div class="about">
			<div class="titre">
				<h1>Robes femmes</h1>
			</div>
			<div class="trait"></div>
			<div class="container marketing">
				<div class="row">
					<div class="col-lg-4">
						<img src="{{asset('filrouge/images/femme1.jpg')}}" width="250" height="300" class="img-fluid" alt="...">
						<h2>Elegania</h2>
						<p>Collection femme - chic et décontractée</p>
						<span>150€</span>
					</div>
					<div class="col-lg-4">
						<img src="{{asset('filrouge/images/femme2.jpg')}}" width="250" height="300" class="img-fluid" alt="...">
						<h2>Petunia</h2>
						<p>Collection femme - chic et décontractée</p>
						<span>90€</span>
					</div>
					<div class="col-lg-4">
						<img src="{{asset('filrouge/images/femme13.jpg')}}" width="250" height="300" class="img-fluid" alt="...">
						<h2>Lolita</h2>
						<p>Collection femme - Chic et décontractée</p>
						<span>150€</span>
					</div>
					<div class="col-lg-4">
						<img src="{{asset('filrouge/images/femme4.jpg')}}" width="250" height="300" class="img-fluid" alt="...">
						<h2>Magenta</h2>
						<p>Collection femme - chic et décontractée</p>
						<span>150€</span>
					</div>
					<div class="col-lg-4">
						<img src="{{asset('filrouge/images/femme5.jpg')}}" width="250" height="300" class="img-fluid" alt="...">
						<h2>Julia</h2>
						<p>Collection femme - chic et décontractée</p>
						<span>110€</span>
					</div>
					<div class="col-lg-4">
						<img src="{{asset('filrouge/images/femme6.jpg')}}" width="250" height="300" class="img-fluid" alt="...">
						<h2>Sherry</h2>
						<p>Collection femme - chic et décontractée</p>
						<span>70€</span>
					</div>
					<div class="col-lg-4">
						<img src="{{asset('filrouge/images/femme7.jpg')}}" width="250" height="300" class="img-fluid" alt="...">
						<h2>Sherry</h2>
						<p>Collection femme - chic et décontractée</p>
						<span>85€</span>
					</div>
					<div class="col-lg-4">
						<img src="{{asset('filrouge/images/femme11.jpg')}}" width="250" height="300" class="img-fluid" alt="...">
						<h2>Sherry</h2>
						<p>Collection femme - chic et décontractée</p>
						<span>105€</span>
					</div>
					<div class="col-lg-4">
						<img src="{{asset('filrouge/images/femme9.jpg')}}" width="250" height="300" class="img-fluid" alt="...">
						<h2>Sherry</h2>
						<p>Collection femme - chic et décontractée</p>
						<span>130€</span>
					</div>
					<div class="col-lg-4">
						<img src="{{asset('filrouge/images/fecomp20.jpg')}}" width="250" height="300" class="img-fluid" alt="...">
						<h2>Sherry</h2>
						<p>Collection femme - chic et décontractée</p>
						<span>79€</span>
					</div>
					<div class="col-lg-4">
						<img src="{{asset('filrouge/images/desk1-mini.jpg')}}" width="250" height="300" class="img-fluid" alt="...">
						<h2>Sherry</h2>
						<p>Collection femme - chic et décontractée</p>
						<span>70€</span>
					</div>
					<div class="col-lg-4">
						<img src="{{asset('filrouge/images/vente33.jpg')}}" width="250" height="300" class="img-fluid" alt="...">
						<h2>Sherry</h2>
						<p>Collection femme - chic et décontractée</p>
						<span>109€</span>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
