{% extends 'mascindye.html.twig' %}

{% block title %}Hello PageController!
{% endblock %}

{% block body %}
	<main>
		<div class="about ">
			<div class="row titre text-center mt-5 sticky-top w-100  ">
				<h1>{{category}}</h1>
			</div>
			<div class="trait"></div>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-5 m-3 prod ">
				{% for produit in produits %}
					<div class="col justify-content-center g-4 p-4 ">
						<div class="card shadow p-1 mb-5 bg-body p-0 ">
							<a href="{{ path('detail_produit', {slug: produit.slug}) }}">
								<img src="{{app_cdn}}{{produit.urlImage}}" class="card-img-top " alt="..." class="img-fluid ">
							</a>
							<div class="card-body ">
								<h5 class="card-title text-center ">{{produit.nom}}</h5>
								<p class="card-text text-center fw-bold p-0">{{produit.category}}
								</p>
								<p class="card-text text-primary text-center fw-bold p-0">{{produit.prix}} €
								</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
